<h1 class="text-3xl text-center font-semibold uppercase"> Share your art </h1>

<p class="text-center"> Share your art with the world and get feedback from other artists. </p>

<div class="flex flex-wrap flex-col justify-center py-2">
<%= render 'layouts/visualform'%>
 <%= render 'layouts/visuals'%>
</div>